<!DOCTYPE html>
<html lang="en" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>BACH - <%="#{node.chef_environment}"%> - <%="#{node[:bcpc][:management][:ip]}"%></title>
	</head>
	<body>
		<style>
			body{
				font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
			}
			div.block{
				overflow:hidden;
			}
			div.block label{
				width:160px;
				display:block;
				float:left;
				text-align:right;
				padding-right:8px;
			}
			div.block .a{
				margin-left:4px;
				float:left;
			}
		</style>

		<h2>Web Interfaces</h2>
			<div class="block">
				<label>Graphite</label>
				<a href="https://<%="#{node[:bcpc][:management][:vip]}"%>:8888">https://<%="#{node[:bcpc][:management][:vip]}"%>:8888</a>
			</div>
			<div class="block">
				<label>Zabbix</label>
				<a href="https://<%="#{node[:bcpc][:management][:vip]}"%>:<%="#{node[:bcpc][:zabbix][:web_port]}"%>">https://<%="#{node[:bcpc][:management][:vip]}"%>:<%="#{node[:bcpc][:zabbix][:web_port]}"%></a>
			</div>
			<div class="block">
				<label>HAProxy</label>
				<a href="https://<%="#{node[:bcpc][:management][:vip]}"%>/haproxy">https://<%="#{node[:bcpc][:management][:vip]}"%>/haproxy</a>
			</div>
	</body>
</html>
