<!DOCTYPE html>
<html lang="en" xml:lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>BCPC - <%="#{node[:bcpc][:region_name]}"%> - <%="#{node[:bcpc][:management][:vip]}"%></title>
	</head>
	<body>
		<style>
			body{
				font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
			}
			div.block{
				overflow:hidden;
			}
			div.block label{
				width:160px;
				display:block;
				float:left;
				text-align:right;
				padding-right:8px;
			}
			div.block .a{
				margin-left:4px;
				float:left;
			}
		</style>

		<h2>Web Interfaces</h2>
			<div class="block">
				<label>Openstack</label>
				<a href="https://<%="#{node[:bcpc][:management][:vip]}"%>/horizon">https://<%="#{node[:bcpc][:management][:vip]}"%>/horizon</a>
			</div>
			<div class="block">
				<label>HAProxy</label>
				<a href="http://<%="#{node[:bcpc][:management][:vip]}"%>:1936">http://<%="#{node[:bcpc][:management][:vip]}"%>:1936</a>
			</div>
			<div class="block">
				<label>PHP-My-Admin</label>
				<a href="https://<%="#{node[:bcpc][:management][:vip]}"%>/phpmyadmin/">https://<%="#{node[:bcpc][:management][:vip]}"%>/phpmyadmin/</a>
			</div>
			<div class="block">
				<label>RabbitMQ</label>
				<a href="http://<%="#{node[:bcpc][:management][:vip]}"%>:55672">http://<%="#{node[:bcpc][:management][:vip]}"%>:55672</a>
			</div>
			<div class="block">
				<label>ElasticSearch</label>
				<a href="http://<%="#{node[:bcpc][:management][:vip]}"%>:9200/_plugin/head/">http://<%="#{node[:bcpc][:management][:vip]}"%>:9200/_plugin/head/</a>
			</div>
			<div class="block">
				<label>Kibana</label>
				<a href="http://<%="#{node[:bcpc][:management][:vip]}"%>:5601">http://<%="#{node[:bcpc][:management][:vip]}"%>:5601</a>
			</div>
			<div class="block">
				<label>Graphite</label>
				<a href="https://<%="#{node[:bcpc][:management][:vip]}"%>:8888">https://<%="#{node[:bcpc][:management][:vip]}"%>:8888</a>
			</div>
			<div class="block">
				<label>Zabbix</label>
				<a href="https://<%="#{node[:bcpc][:management][:vip]}"%>:7777">https://<%="#{node[:bcpc][:management][:vip]}"%>:7777</a>
			</div>

		<h2>API Endpoints</h2>
			<div class="block">
				<label>Keystone API</label>
				<a href="http://<%="#{node[:bcpc][:management][:vip]}"%>:5000/v2.0">http://<%="#{node[:bcpc][:management][:vip]}"%>:5000/v2.0</a>
			</div>
			<div class="block">
				<label>Keystone Admin API</label>
				<a href="http://<%="#{node[:bcpc][:management][:vip]}"%>:35357/v2.0">http://<%="#{node[:bcpc][:management][:vip]}"%>:35357/v2.0</a>
			</div>
			<div class="block">
				<label>Nova API</label>
				<a href="http://<%="#{node[:bcpc][:management][:vip]}"%>:8774/v1.1">http://<%="#{node[:bcpc][:management][:vip]}"%>:8774/v1.1</a>
			</div>
			<div class="block">
				<label>Glance API</label>
				<a href="http://<%="#{node[:bcpc][:management][:vip]}"%>:9292/v1">http://<%="#{node[:bcpc][:management][:vip]}"%>:9292/v1</a>
			</div>
			<div class="block">
				<label>Cinder API</label>
				<a href="http://<%="#{node[:bcpc][:management][:vip]}"%>:8776/v1">http://<%="#{node[:bcpc][:management][:vip]}"%>:8776/v1</a>
			</div>
			<div class="block">
				<label>EC2 API</label>
				<a href="http://<%="#{node[:bcpc][:management][:vip]}"%>:8773/services/Cloud">http://<%="#{node[:bcpc][:management][:vip]}"%>:8773/services/Cloud</a>
			</div>

	</body>
</html>
